[Unit]
Description=Rescuezilla Mount USB NTFS Storage
After=local-fs.target udisks2.service
Wants=udisks2.service

[Service]
Type=oneshot
ExecStart=/usr/local/bin/mount_ntfs_startup.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
